body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  background: url('images/background.jpg');
  background-size: 250px 150px;
}

#hero {
  width: auto;
  margin: 0 auto 72px;
}

#hero img {
  margin-bottom: 30px;
  width: 500px;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;

}

#tel {
  color: rgba(36, 199, 109, 0.925);
  text-decoration: none;
}

#tel:hover {
  text-decoration: underline;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  line-height: 56px;
  font-weight: normal;

  margin-bottom: 32px;
}

h2 span {
  font-weight: bold;
}


span, a {
  color: #1900ff;
  font-weight: bold;
}

p {
  color: #09031a;
  font-size: 15px;
}

#footer a + a {
  margin-left: 25px;
}

.line {
  width: 568px;
  height: 0;
  border: 1px #9f9fa1 solid;
  margin: 0 auto 8px;
}

/* #balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
  
} */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}